<div class="container">
 <div class="header"> Create a Session: </div>
 <div>Time: <%= @time %></div>
 <% if @timeslots.count > 0 %>
   <form action="/timeslots/be_student" method="post">
  <input type="hidden" name="_method" value="put" />
  <select name="topic_id">
    <% @topics.each do |topic| %>
    <option value="<%= topic.id %>"><%= topic.title %></option>

    <% end %>
  </select>

  <select name="id">
    <% @timeslots.each do |timeslot| %>
    <option value="<%= timeslot.id %>"><%= timeslot.tutor.name  %></option>

    <% end %>
  </select>
  <input type="submit" value="Add Student" class="btn"/>
</form>
<% else %>
  <div>Sorry No avaiable tutors for this timeslot</div>
 <% end %>
 
</div>

