<div class="container">

  <h3 class="sub-header">Hey, What's That Board Over There?</h3>

  <div align="left">
    <% ["Tutors", "10 AM", "11 AM", "12 PM", "1 PM", "2 PM", "3 PM", "4 PM", "5 PM"].each do |title| %>
      <%= title %>
    <% end %>
  </div>

  <% @tutors.each do |tutor| %>
    <div align="left">
      <ul class="table">
        <li class="table_row"><a href="/<%= tutor.id %>/feedback"><%= tutor.name %></a></li>
        <li class="table_row"><%= Timeslot.find_by(time: "10 AM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "11 AM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "12 PM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "1 PM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "2 PM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "3 PM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "4 PM", tutor: tutor).student.name %></li>
        <li class="table_row"><%= Timeslot.find_by(time: "5 PM", tutor: tutor).student.name %></li>
      </ul>
    </div>
  <% end %>

  <form action="/logout" method="post">
    <input type="submit" value="Logout" class="btn">
  </form>

</div>